include twisted/plugins/knoboo_plugin.py

graft knoboo/frontend/static
recursive-include knoboo/frontend/static/js *
recursive-include knoboo/frontend/static/css *
recursive-include knoboo/frontend/static/img *
