<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Codenode{% endblock %}</title>
    <link href='/static/css/global.css' rel='stylesheet' type='text/css'></link>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id='topline'></div>
    <div id='logo'>
      <a target='_blank' href='http://codenode.org'><img src='/static/img/logo.png'/></img></a>
    </div>
    <div id='userbar'>
      <ul>
        <li id='user'>{{ user }}</span></li>
        {% ifnotequal path  '/bookshelf/' %}
          <li><a id='bookshelfhome' href='{% url bookshelf %}'>Home</a></li>
        {% endifnotequal %}
        <li><a id='settings' href='{% url usersettings %}'>Settings</a></li>
        <!--<li><a id='help' target='_blank' href='/help'>Help</a></li>-->
        <li id='logout' style='border:none'><a href="/accounts/logout/?next=/">Logout</a></li>
      </ul>
    </div>
    {% block content %}{% endblock %}
    <div id="fbcontainer" class="dialogWindow"></div>
  </body>
</html>

