/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 1px;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
/* end reset css */

#container{
    width:860px;
    margin:auto;
}

#top {
    margin-top:20px;
    margin-bottom:10px;
    border-bottom: 2px solid #A9A9A9;
    padding-bottom:5px;
}
#top img {
    float:left;
    border:none;
}
#top h1 {
    padding:45px 0px 0px 4px;
    text-align:right;
    font-size:18px;
    color:#183078;
    font-family:Arial, Helvetica, sans-serif;
}

#incoming {
    float:right;
    margin:4px;
}

#login {
    margin:20px;
    padding:5px;
    background-color:#F0F0F0;
    border:1px solid #C0C0C0;
}
#login p {
    margin:2px;
    padding:3px;
    background-color:#C5C5C5;
    border:1px solid #CCC;
    color:#252525;
    font-weight:bold;
    font-size:110%;
}
#login input {
    margin:4px;
    margin-left:5px;
    padding:1px;
}
#login .in {
    padding:6px;
    text-align:center;
}
.error {
    text-align:center;
    font-weight:bold;
    background-color:#FFAAAA;
    border: 1px solid #F00000;
    padding:4px;
    margin:6px 0px;
}

#create {
    text-align:center;
    background-color:#CEDFF2;
    border: 1px solid #C0C0C0;
    margin:20px;
    padding:6px;
}
#create a {
    font-weight:bold;
    font-size:22px;
}
h2 {
    font-size:22px;
    font-weight:bold;
    text-align:left;
    padding:4px 0 2px 4px;
    margin:32px 0px 34px 0px;
    background-color:#CEDFF2;
    border:none;
    border-bottom:1px solid #C0C0C0;
    border-right:1px solid #C0C0C0;
}
#createform p {
    margin:20px 0;
}

#description {
    margin-top:25px;
    float:left;
}
#description .bold {
    font-family:Arial, Helvetica, sans-serif;
    font-size:120%;
    font-weight:bold;
}
#description ul {
    margin-left:26px;
    list-style:square;
}
#description li {
    margin:16px 0;
    list-style:square;
}
#features {
    padding-bottom:0px;
    margin-top:20px;
    text-decoration:underline;
}

/*** Below is for 'signup.html' ***/

#info {
    margin:16px;
}
#info h2 {
    margin:10px;
    border-bottom: 2px solid #C0C0C0;
}
#info input {
    padding:1px;
    margin:0px 8px;
}
#info .in {
    margin:14px 8px;
    padding:6px;
    background-color:#F0F0F0;
    border-bottom: 2px solid #CEDFF2;
    border-right: 2px solid #CEDFF2;
}
#info .require {
    font-size:90%;
}

#errors {
    display:none;
    text-align:center;
    font-weight:bold;
    background-color:#FFAAAA;
    border: 1px solid #F00000;
    padding:4px;
}


/*** application bar ***/
#topline {
    height: 4px;
    width: auto;
    background: #E7E8E9;
    border-bottom: 1px solid #CFCFCF;
}

#logo {
    margin-left:16px;
    margin-top:6px;
}
#logo img {
    padding:0px;
    margin:0px;
    border: none;
}

/* Login and out bar */
#userbar {
    position: absolute;
    top: 4px;
    right: 0px;
    margin-right:30px;
    background: url('/static/img/control.png') repeat-x scroll left;
    padding:2px;
    padding-top:0px;
    border:1px solid #C0C0C0;
    border-top:none;
}

#userbar ul {
    padding:0px;
    padding-top:3px;
    margin:0px;
}

#userbar li {
    display:inline;
    text-decoration:none;
    margin:2px 0px 0px 4px;
    padding-right:8px;
    font-size:13px;
    border-right: 1px solid #252525;
}

#userbar a {
    color: #183078;
    font-family:arial, sans-serif;
}
#userbar span.sep {
    padding:0px 2px 0px 4px;
}
#user {
    font-weight:bold;
    font-size:14px;
}

.button {
    background: url('/static/img/button.png') repeat-x;
    border: 1px solid #818F9F;
    font-family:sans-serif;
    font-size:15px;
    margin-right:4px;
    cursor: pointer;
    padding:2px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.button span {
    color:#0F0F0F;
    padding:0px 8px;
    text-decoration:none;
    font-weight:bold;
}

.button a {
    text-decoration:none;
}
.button img {
    border:none;
    position:relative;
    top:3px;
}


/* Dialog */
 
.dialogWindow {
    display: none;
    position: fixed;
    top: 17%;
    left: 50%;
    margin-left: -300px;
    width: 640px;
    background-color: #FFF;
    border-top: 2px solid #CFCFCF;
    border-left: 2px solid #CFCFCF;
    border-right: 2px solid #4F4F4F;
    border-bottom: 2px solid #4F4F4F;
    padding: 16px;
    font-family:sans-serif;
}

.dialogWindow h3 {
    text-align:center;
    margin:4px;
    font-size:130%;
}
.dialogWindow hr {
    margin:0px;
    height:1px;
    background-color:#F5F5F5;
}
.dialogWindow p {
    margin-bottom:4px;
}
#attach_buttons {
    margin:8px; 
    text-align:center;
    font-size:120%;
}
.jqmOverlay { 
    background-color: #000; 
}
.explain {
    font-size:80%;
    margin:0px;
    color:#AFAFAF;
    text-align:center;
}

