/*** General ***/
body {
    overflow: hidden;
}
/****** Status Dialog *****/
#status {
    text-align:center;
    position:relative;
    top:20px;
   /* display: none;*/
}
#status_message {
    background-color:#F5F5DC;
    padding:4px 6px;
}
/*** nbar: notebook bar ***/
#nbar {
    position: relative;
    width: auto; 
    height:34px;
    background: url('/static/img/panel.png') repeat-x; /*0px 40px;*/
}

#logo {
    background-repeat: no-repeat;
    margin-left: 13px;
    margin-top: 5px;
    height: 20px;
}

/*******************************************/
/* Title container */

#titlecontainer {
    position: absolute;
    bottom: 9px;
    margin-left: 10px;
    margin-bottom: 4px;
    width: 20%;
    font-family: sans-serif;
    font-style: italic;
}

#statictitle {
    position: relative;
    font-family: sans-serif;
    font-size:17px;
}

#statictitle {
    cursor: pointer;
}

#changetitle {
    font-family: sans-serif;
    font-style: normal;
    border: 1px solid black;
    padding:1px;
}
#lastmodified {
    top:14px;
    font-family: sans-serif;
    font-size:11px;
    position:relative;
    top:16px;
    margin-left:12px;
}
#lastmodified, #revhistory {
    top:14px;
    font-family: sans-serif;
    font-size:11px;
    position:relative;
    top:16px;
    margin-left:12px;
    color:#8f8f8f;
}
#revhistory a {
    color:#7887AF;
}

/*******************************************/
/* Notebook Controls */

#controls {
    position: absolute;
    right: 17px;
    top:5px;
    margin:0px 6px 0px 0px;
    z-index: 3;
}

#controls li {
    display: inline;
    font-family:sans-serif;
    cursor: pointer;
    z-index: 0;
}

ul#printers {
    display:none;
    position:absolute;
    background-color:#FFF;
    margin:2px;
    border-top: 1px solid #818F8F;
    border-left: 1px solid #818F8F;
    border-right: 1px solid #4F4F4F;
    border-bottom: 1px solid #4F4F4F;
    font-family:sans-serif;
    font-size:13px;
    right:95px;
    width:146px;
    top:20px;
}
ul#printers li {
    font-weight:bold;
    padding:6px 1px;
    display:block;
}
ul#printers li:hover {
    background-color:#F0F0F0;
}
ul#printers li a {
    color:#0F0F0F;
    padding:4px 18px;
    text-align:center;
}


/*******************************************/


/*******************************************/
/* The Notebook */

#notebook {
    /*border: 1px solid green;*/
    position: absolute;
    top: 80px;
    bottom: 0px;
    width: 99%;
    border: 7px solid #BEC5CB;
    /*border-bottom: 1px solid #BEC5CB;
    border-bottom:0px;*/
    border-top:0px;
    background-color:#FFF;
    z-index:2;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

#main {
    overflow: visible;
    height: 100%;
    bottom: 0px;
}

/*******************************************/
/** Cells **/

.cell {
    /*border: 1px solid black;*/
    width: auto;
    position: relative;
    margin-right: 4px;
    margin-left: 0;
    margin-top: 14px;
}

.cell.group {
    width: auto;
    position: relative;
    margin-right: 4px;
    margin-left: 0;
}

.cell .label {
    /*border: 1px solid yellow;*/
    width: 60px;
    float: left;
    height: 100%;
}

.cell .contents {
    /*border: 1px solid blue;*/
    /*font-size: 10pt;*/
    display: block;
    width: auto;
    height: auto;
    margin-left: 62px;
    margin-right: 7px;
}


.cell.group > .contents {
    margin-left: 0;
    margin-right: 7px;
    position: relative;
}


textarea.input {
    border-style: none;
    overflow: hidden;
    height: 2em;
    height: auto;
    width: 100%;
    display: block;
}

textarea.outputtext {
    border-style: none;
    overflow: hidden;
    width: 100%;
    height: 2em;
    height: auto;
    display: block;
}


.spawner {
    /*border: 1px solid orange;*/
    width: auto;
    height: 5px;
}

.spawner > textarea.spawninput {
    /*border: 1px dashed gray;*/
    border-style: none;
    height: 5px;
    width: 100%;
    overflow: hidden;
    display: block;
    cursor: pointer;
    cursor: vertical-text;
}

textarea.spawninput:hover {
    /*border: 1px dotted black;*/
    background-color: gray;
}

textarea.spawninput:focus {
    background-color: black;
}

/******************************************/
/** Specific cell content styles **/
.cell .contents textarea.input {
    /*font-family: monospace;
    line-height: normal;*/
    font-size: 13px;
    border-style: none;
}

.cell .contents textarea.outputtext {
    /*font-family: monospace;*/
    overflow: auto; 
    font-size: 13px;
    border-style: none;
}

.cell .contents textarea.outputtext:focus {
    outline: 1px dotted black;
}

.cell.title .contents textarea {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 26pt;
}

.cell.subtitle .contents textarea {
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 14pt;
}

.cell.section .contents textarea {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16pt;
}

.cell.subsection .contents textarea {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15pt;
}

.cell.text .contents textarea {
    font-family: sans-serif;
    font-size: 10pt;
}

/***********************************/
/** specific special style stuff **/

/* line over section style*/
/*
.cell.section .contents {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: black;
}*/

.label div.tablight {
    width: 5px;
    height: 5px;
    background-color: white;
   /* border: 1px dotted black;*/
}

.label div.number {
    font-size: 8pt;
    font-family: monospace;
    margin-left: 4px;
    text-align: right;
}

.cell.input div.number {
    color: blue;
}

/* .output, output cells */
.cell.output div.number {
    color: green;
}

.cell.output .contents > a.outputimage:focus {
    /*height: auto;
    /*display: block;*/
    outline: 1px dotted black;
}

/******************************************/

/******************************************/
/** Specific bracket Style **/


.bracketmaskimg {
    background-color: #454f99;
    width: 6px;
    height: 6px;
    top: 0;
    vertical-align: top;
}

.bracketng {
    /*border: 1px solid red;*/
    width: 6px;
    height: 100%;
    border-color: #454f99;
    border-width: 1.5px 1.5px 1.5px 0px;
    border-width: 1px 1px 1px 0px;
    /*border-width: 2px 2px 2px 0px;*/
    border-style: solid;
    background-color: #ffffff;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.cell.group > .bracketng {
}


/**********************************/
/** Tab Completer **/

#completionsold {
    font-family: monospace;
    font-weight: bold;
    font-size: 12pt;
    line-height: normal;
    position: fixed;
    width: 92%;
    height: auto;
    left: 46px;
    padding:4px;
    background-color:#FAFAFA;
    border: #BFBFBF solid 2px;
    z-index: 22;
    opacity:0.8;
    max-height:200px;
    overflow:scroll;
}

#completions {
    font-family: monospace;
    font-size: 12pt;
    line-height: normal;
    position: relative;
    height: 100%;
    width:100%;
    padding:4px;
    background-color:#EFEFEF;
    border:none;
    border-left: 7px solid #BFBFBF;
    z-index: 22;
    /*opacity:0.8;*/
}
span.completionword {
    float: left;
    padding: 2px 5px;
}

td.completionword:hover {
    font-weight: bold;
    cursor:pointer;
}


/*****************************/

.botpad {
    cursor: pointer;
    cursor: vertical-text;
    height: 500px;
}

/*****************************/
/** Foot bar at bottom    **/

#foot {
    /*border: 1px dotted purple;
    backgrou0d-color: white;*/
    height: 0px;
    bottom: 0px;
    text-align:center;
    position: absolute;
    width: 100%;
    overflow: auto;
    z-index: 5;
    background-color:#DDDEDF;
    font-size:12px;
    font-family:Tahoma sans-serif;
}

#auxinput {
    height: 0px;
    width: 0px;
    border-style: none;
    float: left;
}

#auxdisplay {
    height: 0px;
    width: auto;
    float: right;
}

/*******************************************/
/* Message Indicator */

#indicator {
    position: absolute;
    bottom: 0px;
    width: auto;
    height: 20px;
    margin-left: 20%;
    float: left;
}

span.curmsg {
    display: none;
    background-color: yellow;
    padding: 3px 10px;
    font-weight: bold;
}

/*******************************************/


