.cell .contents textarea.input {
    border:1px solid #A8A8A8;
    -moz-border-radius:2px;
    padding:4px;
    font-size:14px;
}       
.cell .contents textarea.outputtext {
    margin-left:4px;
    font-size:14px;
}
.cell .contents textarea.input:hover {
    border:2px solid #8888FE;
}   
.label div.number { 
    font-size:13px;
    margin-right:2px;
 }
.cell.output div.number {
    color:red;
}
.bracketng, .bracketmasking {display:none;}
