
#topline {
    height: 4px;
    overflow: hidden;
}

#nbar {
    overflow: hidden;
}

#controls {
    height: 20px;
}

#controls > ul {
    position: relative;
}

textarea.input {
    border-color: white;
}

textarea.outputtext {
    border-color: white;
}
textarea.spawninput {
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px;
    overflow: hidden;
    height: 5px;
    width: 100%;
    cursor: vertical-text;
}

textarea.spawninput:hover {
    /*border: 1px dotted black;*/
    background-color: gray;
}

textarea.spawninput:focus {
    background-color: black;
}

.cell {
    border-color: blue;
    border-width: 0 2px 0 0;
    border-style: solid;
}

.contents {
    border-color: white;
    /*
    border-color: blue;
    border-width: 1px 1px;
    border-style: solid;
    */
}

.cell.group > .contents {
    margin-right: 7px;
    width: 95%;
}

.bracketng {
}

.bracketmaskimg {
}

.fillup {
    height: 100%;
}
