body {
    overflow:hidden;
    margin:0px;
    padding:0px;
}
#container {
    position:absolute;
    height:100%;
    width:100%;
    margin-top:12px;
}
.ui-resizable {
    position:relative;
}
.ui-resizable-handle {
    display:none;
    position:absolute;
}
.ui-resizable .ui-resizable-handle {
    display:block;
}
body .ui-resizable-disabled .ui-resizable-handle {
    display:none;
}
body .ui-resizable-autohide .ui-resizable-handle {
    display:none;
}
.ui-resizable-w {
    cursor:col-resize;
    height:100%;
    width:4px;
    float:left;
    clear:both;
    background-color:#CCC;
    border-right:1px solid #A9A9A9;
    border-left:1px solid #C0C0C0;
}

/***  Control Bar ***/
#control {
    width: 100%;
    height:42px;
    background: url('/bookshelf/static/images/panel.png') repeat-x 0px 40px;
    border-bottom: 1px solid #A9A9A9;
    margin-left:10px;
}
.button {
    width:100px;
    background: url('/bookshelf/static/images/button.png') repeat-x;
    border: 1px solid #818F9F;
    font-family:sans-serif;
    font-weight:bold;
    margin-right:6px;
}
.button span {
    color:#111111;
    padding:0px 8px;
    text-decoration:none;
    font-size:12px;
}
.button a {
    text-decoration:none;
}
#options {
    float:left;
    margin-top:13px;
    margin-left:12px;
}
#searchbox {
    float:right;
    margin-top:9px;
    margin-right:16px;
}
#searchbox input {
    background: url('/bookshelf/static/images/search.png') no-repeat scroll left;
    background-color:#FFF;
    border: 1px solid #888888;
    padding: 3px 0px 3px 24px;
}
#searchbox form {
    margin:0px;
    padding:0px;
}
#datatable {
    width: 83%;
    height: 100%;
    left: 17%;
	background-color:#FFF;
    /*position:absolute;*/
}
.nbrow {
    padding:8px 0px 8px 20px;
}
.drop {
    padding:10px 16px;
    margin: 12px 12px;
    margin-left: 0px;
    text-align:center;
    width: 150px;
}
#droparea {
    width:100%;
    height:100%;
    float:left;
    background-color:#EEF2F5;
    border-left: solid 1px #C0C0C0;
    margin-left:10px;
}
#drop_all {
    padding:8px 8px 8px 30px;
    background: url('/bookshelf/static/images/notebook.png') no-repeat 24px 0px;
}
#drop_trash {
    padding:10px 8px 6px 20px;
    background: url('/bookshelf/static/images/trash_empty.png') no-repeat 24px 2px;
    width: 110px;
}
#drop_archive {
    padding:10px 8px 5px 22px;
    background: url('/bookshelf/static/images/archive.png') no-repeat 26px 2px;
    width: 120px;
}
#drop_folder {
    padding:10px 8px 5px 28px;
    background: url('/bookshelf/static/images/folder.png') no-repeat 28px 4px;
    width: 130px;
}
.dropselected {
    background-color:#C0C0C0;
}
.area_selected {
    background-color:#EEF2F5;
    width:auto;
}
#containtable {
    border-bottom: 0px solid #252525;
    height: 100%;
}
div#containtable > table {
    border: 0;
}
#msgbar {
    height:10px;
    width: 100%;
}

.drop_ok {
    font-weight: bold;
}

.folder {
    margin-left:40px;
    padding:6px 0px 4px 8px;
    background: url('/bookshelf/static/images/folder.png') no-repeat;
    width:100px;
}
/** from notebook_table.css **/

table {
    background-color:#FFFFFF;
    width: 100%;
}

thead {
    background-color:#EEF2F5;
}
thead td {
    border-bottom:1px solid #CCC;
    border-left:1px solid #CCC;
    padding: 8px 4px 4px 6px;
    font-weight:bold;
}
#column_checked {
    border-left:none;
    width:30px;
}
tbody td {
    padding: 5px 4px;
    text-align:left;
    font-family:sans-serif;
    font-size:14px;
    border-bottom:1px solid #F0F0F0;
}
.td_datemod {
    font-size:13px;
}
tbody tr {
    border-right: solid #000 1px;
    /*width: 100%;*/
}
table .rowradio {
    margin:0px 8px 2px 2px;
    border: 2px solid #000;
}
table a {
    color:#000;
}

table input {
    width:14px;
    margin-bottom:2px;
}
#noresult {
    font-size: 16px;
}
#noresult a {
    margin-right: 8px;
}
.odd {
    color: #000;
    text-align: right;
    background-color: #F7F7F9;
}

.even {
    color: #000;
    text-align: right;
    background-color: #FFFFFF;
}
.last {
    color: #000000;
    text-align: right;
    border-right: solid #000 1px;
}
.toprow {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color: #252525;
    background-color:#D2DBE2;
    border-bottom: 2px solid #252525;
}
td.sortable {
    cursor: pointer;
}
.updown {
    font-style: normal;
    font-size: 10px;
    margin-left:2px;
}
.nblink {
    font-weight:bold;
}
.message {
    padding:4px;
}
.pointer {
    cursor:pointer;
}

#tablestate_empty {
    margin:0px;
    padding:38px 0px;
    text-align:center;
    background-color:#FFF;
}

#tablestate_search {
    margin:0px;
    padding:10px 0px;
    margin-left:16px;
}
.squery {
    font-weight:bold;
    margin-left:4px;
}

/*****  AttachData *****/

#attach {
    margin-left:40px;
}
iframe {
    border:none;
    height:90px;
    width:100%;
}
/****** Status Dialog *****/

#status {
    text-align:center;
    position:relative;
    height:0px;
}
#status_message {
    background-color:#F5F5DC;
    padding:4px 6px;
}


