{% extends 'base_app.html' %}

{% load compressed %}

{% block extrahead %}
    {% compressed_css 'notebook' %}
    <link href="/notebook/user_style?nocache={{ nocache }}" rel="stylesheet" type="text/css" />
    {% compressed_js 'notebook' %}
    <script type='text/javascript'>
    /* User Specific Settings */
    var NOTEBOOK_OPENS_IN_NEW_WINDOW = {{ user.get_profile.notebook_opens_in_new_window|default:"false"|lower }}
    </script>
{% endblock %}

{% block content %}

 <div id="status"><span id="status_message">Loading ...</span></div>

  <div id="nbar">
      <div id="titlecontainer"><span id="statictitle">{{ title }}</span></div>
    <span id="lastmodified">saved on {{ lastmod|date:"M d, Y P" }} by {{ user }}</span>
    <span id="revhistory"><a href='/notebook/revisions/{{ nbid }}'>Revision History</a></span>
    <div id="controls" class="controls">
      <ul>
        <li><span class="button" id="sharebutton">
            <span><a href='/notebook/share/{{ nbid }}' style='color:#183078'>Share</a></span></span>
        </li>
        <li><span class="button" id="savebutton"><span>Save</span></span></li>
        <li><span class="button" id="saveclosebutton"><span>Save & Close</span></span></li>
        {# <li><span class="button" id="print_list"><span>Save As</span><img src='/static/img/bullet_arrow_down.png'/></li> #}
        {#   <ul id="printers"> #}
        {#     <li><a href="print/python">Python source</a></li> #}
        {#     <li><a href="print/rest">ReStructuredText</a></li> #}
        {#     <li><a href="print/pdf">PDF</a></li> #}
        {#   </ul> #}
        <li><span class="button" id="interruptbutton"><span>Interrupt</span></span></li>
        <li><span class="button" id="killkernelbutton"><span>Kill</span></span></li>
      </ul>
    </div>
  </div>

  <div id="notebook"></div>
  <div id='foot'>
    <input id='auxinput' class='auxinput'></input><span id='auxdisplay'></span>
  </div>
{% endblock %}

