{% if classic_style %}
/* classic_style has no overides currently */
{% else %}

.cell {
    margin:10px 14px 0px 0px;
}

.cell.group {
}

{% if show_cell_numbering %}
.cell .contents {
    border:none;
    margin:0px 25px 0px 62px;
}
{% else %}
.cell .contents {
    border:none;
    margin:0px 25px 0px 20px;
}
{% endif %}

.cell .contents textarea.input {
    border:1px solid #bfbfbf;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    padding:12px;
    font-size:14px;
}       
.cell .contents textarea.outputtext {
    margin:-4px 0px -12px 4px;
    font-size:14px;
}
   
.cell .contents textarea.outputtext:focus {
    outline:none;
}
.cell .contents textarea.input:hover {
    border:none;
    padding:12px;
}
.cell.output div.number {
    color:red;
}
.cell .bracketng {
    margin-right:4px;
    border:none;
}
.cell .bracketng img {
    display:none;
}
.cell .spawner {
    margin-top:6px;
    width:98%;
    margin-left:2%;
}
.cell .spawner textarea {
    cursor:pointer;
}


/* Cell type "Title" */
.cell.title .contents {
    border-bottom:3px solid #9f9f9f;
}
.cell.title .contents textarea {
    font-size:150%;
    border:none;
}

/* Cell type "Subtitle" */
.cell.subtitle .contents {
    border-bottom:2px solid #9f9f9f;
}
.cell.subtitle .contents textarea {
    font-size:130%;
    border:none;
}

/* Cell type "Section" */
.cell.section .contents {
    border:none;
    border-bottom:2px solid #bfbfbf;
}
.cell.section .contents textarea {
    font-size:110%;
    border:none;
}
/* Cell type "Subsection" */
.cell.subsection .contents {
    border:none;
    border-bottom:1px solid #bfbfbf;
}
.cell.subsection .contents textarea.input:hover {
    padding:8px;
    border:none;
}
/* Cell type "Text" */
.cell.text .contents {
    border:none;
    border-bottom:1px solid #cfcfcf;
}
.cell.text .contents textarea {
    border:none;
}

/* Cell type "Input" */
.cell.input .contents textarea.input {
    -moz-box-shadow:0 0 6px #bfbfbf;
    -webkit-box-shadow:0 0 6px #bfbfbf;
}
.cell.input .contents textarea.input:hover {
    border:1px solid #A8A8A8;
}
.cell.input .contents textarea.input:focus {
    border:2px solid #999ADF;
    padding:11px;
}
/* Cell type "Output" */
.cell.outpout .contents textarea.input:hover {
    padding:8px;
}

.bracketng {
    border:none;
}
.cell.input .bracketng {
    display:none;
}
.cell.output .bracketng {
    display:none;
}
.cell.group > .bracketng {
    background-color:#efefef;
    margin-right:8px;
    width:5px;
}
.cell.group > .bracketng:hover {
    background-color:#cfcfcf;
}
.bracketmasking {
    display:none;
}
{% if show_cell_numbering %}
.cell .label div.number { 
     margin-right:2px;
     font-size:13px;
}
{% else %}
.cell .label { 
    width:20px;
}
.cell .label div.number { 
     display:none;
}
{% endif %}


{% endif %}/* end 'if classic_style'*/
