{% extends "base_app.html" %}

{% block title %} Share Notebook - Knoboo {% endblock %}

{% block content %}
  <div id='container'>

  {#{% if form.errors %}<p class="error">Please correct the errors below: {{ form.non_field_errors }}</p>{% endif %}#}

  <style type"text/css">
    a#back {position:relative; top:-25px;}
    #sharedusers {margin-bottom:10px}
    #shareform {}
    #shareform label {display:block}
    #shareform textarea {width:100%; height:60px; padding:2px}
    #shareform p#allusers {font-size:14px; color:#9f9f9f; margin:4px 0 20px 0}
  </style>
  <h2 id="createh2">Share this Notebook</h2>
   <a id="back" href="../{{ nbid }}">&lsaquo;&lsaquo;&nbsp;Back to the Notebook</a>
   <p id="sharedusers"><b>This Notebook is already shared with: </b>{{ sharedusers|join:",  " }}</p>
  <form id="shareform" method="post" action="">
    {{ form.as_table }}
    <p id="allusers"><b>All Users: </b>{{ allusers|join:",  " }}</p>
    <input type="submit" value="Share This Notebook">
  </form>
  
  </div>
{% endblock %}


