<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Knoboo{% endblock %}</title>
    <link href='/static/css/global.css' rel='stylesheet' type='text/css'></link>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id='topline'></div>
    <div id='logo'>
      <a target='_blank' href='http://www.knoboo.com'><img width='100' height='20' src='/static/img/logo.png'/></img></a>
    </div>
    <div id='userbar'>
      <ul>
        <li id='user'>{{ user }}</span></li>
        <li><a id='settings' href='/settings'>Settings</a></li>
        <li><a id='help' target='_blank' href='/help'>Help</a></li>
        <li id='logout' style='border:none'><a href="/accounts/logout/">Logout</a></li>
      </ul>
    </div>
    {% block content %}{% endblock %}
    <div id="fbcontainer" class="dialogWindow"></div>
  </body>
</html>

