{% extends "base_app.html" %}

{% block title %} Settings for {{ user }} - Codenode {% endblock %}

{% block content %}

  <div id='container'>

    <h2 id='settings'>Settings</h1>
  
    <form id='createform' method="post" action="">
    
    {{ userform.errors }}
    {{ userform.as_p }}

    <hr>

    {{ passform.errors }}
    {{ passform.as_p }}

    <hr>

    {{ settingsform.errors }}
    {{ settingsform.notebook_opens_in_new_window.label_tag }}: {{ settingsform.notebook_opens_in_new_window }}
    <p class="submit"><input type="submit" value="Save Changes"></p>
    </form>

  </div>
  
{% endblock %}


